nav{
  background-color: darkred;
  .content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    ul{
      list-style: none;
      display: flex;
      justify-content: space-between;
      width :20%;
      margin: 0;
      li{
        cursor: pointer;
        font-size: 22px;
        color: white;
        text-decoration: none;

        }
      }
    }
  }





